<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Historique des données</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/thermo.png">
    
</head>
<body>
    <header>
        <h2>Mon thermomètre</h2>
    </header>
    <h2>Historique des données</h2>
    <div id='historique'></div>
    <script type="text/javascript">
        data = [{{ histo|tojson|safe }}]
        console.log(data)
        Plotly.newPlot('historique', data);
    </script>
    <button onclick="window.location.href='/'">Retourner à l'accueil</button>
</body>
</html>
