<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="icon" type="image/png" href="static/thermo.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header>
    <img src="static/thermo.png" alt="thermo" class="image">
    <h1>Mon beau thermomètre</h1>
    <nav>
    </nav>
  </header>
  <div class="titre-haut">
    <p>Il fait 
      <span class="temperature">{{temperature}}</span>
      °C</p>
  </div>
  <div class="historique">
    <p>Historique       des données :</p>
    <button>
      <a class=button href="/history">Voir l'historique</a>
    </button>
  </div>
</div>
  <footer>
    <p>Projet réalisé par les élèves de la classe de terminale STI2D SIN du lycée Saint Félix</p>
  </footer>
</body>
</html>
